.exp-timeline {
    border-left: 2px solid $color-secondary-dark;
    font-size: 1.5rem;

    li {
        list-style: none;
    }

    &__item {
        position: relative;
        padding: 3rem 2rem;
        transition: all 0.5s;

        span {
            padding: 4px 12px;
            background: #fff;
            border-radius: 10px;
            color: $color-primary; 
            cursor: pointer;
        }

        span.duration {
            margin-left: -15.7rem;
            margin-right: 20px;
            cursor: initial;

            @include respond(tab-land) {
                margin-left: -15rem;
            }
        }

        h3 {
            margin: 10px 0 0;
            padding: 0;
            color: #272727;
        }
        
        p {
            margin: 10px 0 0;
            padding: 0;
            color: #fff;
        }
    }

    // &__item:hover {
    //     background: $color-secondary-dark;

    //     span {
    //         background: $color-primary;
    //         color: #fff;
    //     }

    //     span.duration {
    //         background: $color-secondary-dark;
    //         color: #fff;
    //     }

    //     h3 {
    //         color: $color-primary;
    //     }

    //     &:after {
    //         opacity: 1;
    //     }
    // }

    &__item:before {
        content: '';
        position: absolute;
        top: 3.6rem;
        left: -6px;
        width: 12px;
        height: 12px;
        background: #272727;
        border-radius: 50%;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
    }

    &__item:after {
        content: '';
        position: absolute;
        top: 3.6rem;
        left: -6px;
        width: 12px;
        height: 12px;
        background: #fff;
        border-radius: 50%;
        box-shadow: inset 0 0 10px #fff;
        opacity: 0;
    }
}