.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    justify-items: center;

    @include respond(phone) {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-row-gap: 7rem;
        grid-column-gap: 3rem;
    }

    & > div {
        height: 20rem;
        width: 20rem;
        position: relative;

        @include respond(phone) {
            height: 15rem;
            width: 15rem;
        }
    }
}
.skill-html {
    background: url(../../img/html-logo.ico);
    background-size: contain;
    background-repeat: no-repeat;

    & > div {
        background-size: 180%;
    }
}
.skill-css {
    background: url(../../img/css-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;

    & > div {
        background-size: 185%;
    }
}
.skill-js {
    background: url(../../img/js-logo.png);
    background-size: contain;
    background-repeat: no-repeat;

    & > div {
        background-size: 165%;
    }
}
.skill-angular {
    background: url(../../img/angular-logo.png);
    background-size: contain;
    background-repeat: no-repeat;

    & > div {
        background-size: 175%;
    }
}
.skill-node {
    background: url(../../img/node-logo.png);
    background-size: contain;
    background-repeat: no-repeat;

    & > div {
        background-size: 135%;
    }
}
.skill-mysql {
    background: url(../../img/mysql-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;

    & > div {
        background-size: 135%;
    }
}
.skill-value {
    width: 100%;
    height: 15px;
    border: 1px solid $color-primary;
    position: absolute;
    bottom: -27px;
    background-image:linear-gradient(120deg, $color-primary 0%, $color-primary 50%, $color-secondary-light 50%);
}
.skill-name {
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: -27px;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
}